<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>Библиотека</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

<header>
    <!-- Контейнер для картинки (левая часть) -->
    <div class="left-section">
        <div class="user-menu">
            <a href="/"> <!-- Ссылка на начальную страницу -->
                <img src="/images/Shey1.png" width="25" height="25" alt="Shey1" class="hover-zoom">
            </a>
        </div>
    </div>

    <div class="search-container">
        <input type="text" id="search-input" placeholder="Введите текст для поиска..." class="search-input">
        <div class="search-buttons">
            <button id="search-theme-button" class="search-toggle-button" title="Поиск по темам"></button>
            <button id="search-content-button" class="search-toggle-button" title="Поиск по содержанию"></button>
        </div>
    </div>

    <!-- Контейнер для кнопок (правая часть) -->
    <div class="right-section">
        <div class="user-menu">
            <button id="user-button-6">
                <i class="fas fa-cube"></i>
            </button>
        </div>

        <!--кнопка редактирования -->
        <div class="user-menu">
            <button id="user-button-4">
                <i class="fas fa-edit"></i>
            </button>
        </div>

        <!-- Третья кнопка с иконкой "плюс" -->
        <div class="user-menu">
            <button id="user-button-3">
                <i class="fas fa-plus"></i> <!-- Иконка "плюс" -->
            </button>
        </div>

        <!-- Первая кнопка с иконкой книги -->
        <div class="user-menu">
            <button id="user-button-1">
                <img src="https://cdn-icons-png.flaticon.com/512/2169/2169840.png" alt="Книга" width="30" height="30">
            </button>
        </div>

        <!-- Вторая кнопка с иконкой пользователя -->
        <div class="user-menu">
            <button id="user-button-2"></button>
        </div>
    </div>

    <!-- Общий контейнер для меню -->
    <div id="dropdown-menu" class="dropdown-content">
        <!-- Содержимое меню будет динамически изменяться -->
    </div>
</header>

<!-- Форма для добавления теста -->
<div id="add-test-form" class="add-test-form">
    <h2>Добавить новый тест</h2>
    <form id="test-form">
        <div class="form-group">
            <label for="question">Вопрос:</label>
            <input type="text" id="question" name="question" required>
        </div>
        <div class="form-group">
            <label for="option1">Вариант ответа 1:</label>
            <input type="text" id="option1" name="option1" required>
            <input type="radio" id="correct-answer-1" name="correct-answer" value="1">
            <label for="correct-answer-1">Правильный</label>
        </div>
        <div class="form-group">
            <label for="option2">Вариант ответа 2:</label>
            <input type="text" id="option2" name="option2" required>
            <input type="radio" id="correct-answer-2" name="correct-answer" value="2">
            <label for="correct-answer-2">Правильный</label>
        </div>
        <div class="form-group">
            <label for="option3">Вариант ответа 3:</label>
            <input type="text" id="option3" name="option3" required>
            <input type="radio" id="correct-answer-3" name="correct-answer" value="3">
            <label for="correct-answer-3">Правильный</label>
        </div>
        <div class="form-group">
            <label for="option4">Вариант ответа 4:</label>
            <input type="text" id="option4" name="option4" required>
            <input type="radio" id="correct-answer-4" name="correct-answer" value="4">
            <label for="correct-answer-4">Правильный</label>
        </div>
        <button type="submit" class="create-button">Создать</button>
    </form>
</div>
<div id="app">
    <div id="topic-content-container" class="column" style="display: none;">
        <!-- Содержимое темы будет здесь -->
    </div>
    <div id="topics-list-container" class="column" style="display: none;">
        <!-- Список тем будет здесь -->
    </div>

</div>



<!-- Форма для добавления темы -->
<div id="add-topic-form" style="display: none;">
    <h2>Добавить новую тему</h2>
    <form id="topic-form">
        <label for="topic-title">Название темы:</label>
        <input type="text" id="topic-title" name="topic-title" required>

        <label for="topic-content">Содержимое темы:</label>
        <textarea id="topic-content" name="topic-content" rows="10" required></textarea>

        <label for="topic-area">Область темы:</label>
        <select id="topic-area" name="topic-area" required>
            <!-- Опции будут добавлены динамически -->
        </select>

        <button type="submit" >Сохранить</button>
        <button type="button" id="cancel-topic-button">Отмена</button>
    </form>
</div>



<!--&lt;!&ndash; Контейнер для таблицы и контента &ndash;&gt;-->
<!--<div id="main-container">-->
<!--    &lt;!&ndash; Таблица для отображения данных &ndash;&gt;-->
<!--    <div id="table-container" style="display: none;">-->
<!--        &lt;!&ndash; Всплывающее меню для выбора количества элементов &ndash;&gt;-->
<!--        <div class="pagination-controls">-->
<!--            <label for="items-per-page"></label>-->
<!--            <select id="items-per-page">-->
<!--                <option value="5">5</option>-->
<!--                <option value="10">10</option>-->
<!--                <option value="25">25</option>-->
<!--            </select>-->
<!--        </div>-->
<!--        &lt;!&ndash; Пагинация &ndash;&gt;-->
<!--        <div class="pagination">-->
<!--            <button id="prev-page">Назад</button>-->
<!--            <span id="page-info">Страница 1 из 1</span>-->
<!--            <button id="next-page">Вперед</button>-->
<!--        </div>-->

<!--        &lt;!&ndash; Таблица &ndash;&gt;-->
<!--        <table id="topics-table">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th style="width: 65%;">Table of Content</th>-->
<!--                <th style="width: 15%;">Topic Area</th>-->
<!--                <th style="width: 20%;">Действия</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            &lt;!&ndash; Данные будут добавлены сюда &ndash;&gt;-->
<!--            </tbody>-->
<!--        </table>-->


<!--    </div>-->

<!--&lt;!&ndash;    &lt;!&ndash; Поле для отображения content &ndash;&gt;  style="display: none;"&ndash;&gt;-->
<!--    <div id="content-display ">-->
<!--        <h3>Содержание темы:</h3>-->
<!--        <p id="content-text"></p>-->
<!--    </div>-->
<!--</div>-->



<!-- Контейнер для таблицы и контента -->
<div id="main-container">
    <!-- Таблица для отображения данных -->
    <div id="table-container" style="display: none;">
        <!-- Всплывающее меню для выбора количества элементов -->
        <div class="pagination-controls-container">
        <div class="pagination-controls">
            <label for="items-per-page"></label>
            <select id="items-per-page">
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select>
        </div>
        <!-- Пагинация -->
        <div class="pagination">
            <button id="prev-page">Назад</button>
            <span id="page-info">Страница 1 из 1</span>
            <button id="next-page">Вперед</button>
        </div>
        </div>

        <!-- Таблица -->
        <table id="topics-table">
            <thead>
            <tr>
                <th style="width: 60%;">Название темы</th>
                <th style="width: 15%;">Раздел</th>
                <th style="width: 25%;">Действия</th> <!-- Новая колонка для кнопок -->
            </tr>
            </thead>
            <tbody>
            <!-- Данные будут добавлены сюда -->
            </tbody>
        </table>


    </div>

    <!-- Поле для отображения content -->
    <div id="content-display" >
        <h3>Содержание темы:</h3>
        <textarea id="content-text" style="width: 100%; height: 650px;" disabled></textarea>
    </div>
</div>


<div id="user-menu-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="user-info">
            <p><strong>Имя:</strong> <span id="user-first-name">${userData.firstName}</span></p>
            <p><strong>Фамилия:</strong> <span id="user-last-name">${userData.lastName}</span></p>
            <p><strong>Email:</strong> <span id="user-email">${userData.email}</span></p>
            <p><strong>Дата регистрации:</strong> <span id="user-registration-date">${registrationDate}</span></p>
        </div>
        <button id="edit-profile-button">Редактировать профиль</button>
        <div id="edit-profile-form" class="hidden">
            <input type="text" id="edit-first-name" placeholder="Имя">
            <input type="text" id="edit-last-name" placeholder="Фамилия">
            <button id="save-profile-button">Сохранить</button>
        </div>
    </div>
</div>


<!-- Подключение JavaScript-файла -->
<script src="/js/script.js">

</script>
</body>
</html>